
.DS_Store

.idea/.name

.idea/ant.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/*

.idea/libraries/Maven__asm_asm_3_3_1.xml

target/*

aggregation-utils.iml
